<div class="content" role="main">

<p class="paragraph my-themes">
  <mat-toolbar color="primary">
    <span style="font-size: 14px !important;"><img src="./../assets/images/angular_white.png" width="25px" height="25px"
        style="margin-top: -3px; align-content: center;"> CRUD Application</span>
    <span class="example-spacer"></span>
    <span class="mine">
  
      <button mat-fab color="#E91E63" [matMenuTriggerFor]="menu"><mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true"
        data-mat-icon-type="font">format_color_fill</mat-icon></button>
      
      <mat-menu #menu="matMenu" class="mat-menu">
        
          <button mat-menu-item><mat-radio-button>Amber - Purple</mat-radio-button><img src="./../assets/images/amber_icon.png" width="30px" height="22px" style="padding-left: 8px; margin-left: 8px!important;" class="images"></button>
        
          <button mat-menu-item><mat-radio-button>Indigo - Pink</mat-radio-button><img src="./../assets/images/indigo_icon.png" width="30px" height="22px" style="padding-left: 8px; margin-left: 23px !important;" class="images"></button>
          
          <button mat-menu-item><mat-radio-button>Pink - Blue</mat-radio-button> <img src="./../assets/images/pink_icon.png" width="30px" height="22px" style="padding-left: 8px; margin-left: 34px !important;" class="images"></button>
        
          <button mat-menu-item><mat-radio-button>Purple - Green</mat-radio-button><img src="./../assets/images/purple_icon.png" width="30px" height="22px" style="padding-left: 8px; margin-left: 10px !important;" class="images"></button>
        
      </mat-menu>

    </span>
    <button mat-raised-button (click)="openAddEditEmpForm()">Add Employee</button>
  </mat-toolbar>
</p>

<div class="main-body">
  <mat-form-field>
    <mat-label>Search Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type to search" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th class="my-themes" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="firstName">
        <th class="my-themes" mat-header-cell *matHeaderCellDef mat-sort-header> First name </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th class="my-themes" mat-header-cell *matHeaderCellDef mat-sort-header> Last name </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th class="my-themes" mat-header-cell *matHeaderCellDef mat-sort-header> Email address</th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th class="my-themes" mat-header-cell *matHeaderCellDef mat-sort-header> D.O.B</th>
        <td mat-cell *matCellDef="let row"> {{row.dob | date}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th class="my-themes" mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="education">
        <th class="my-themes" mat-header-cell *matHeaderCellDef mat-sort-header> Education </th>
        <td mat-cell *matCellDef="let row"> {{row.education}} </td>
      </ng-container>

      <ng-container matColumnDef="company">
        <th class="my-themes" mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
        <td mat-cell *matCellDef="let row"> {{row.company}} </td>
      </ng-container>

      <ng-container matColumnDef="experience">
        <th class="my-themes" mat-header-cell *matHeaderCellDef mat-sort-header> Experience </th>
        <td mat-cell *matCellDef="let row"> {{row.experience}} </td>
      </ng-container>

      <ng-container matColumnDef="package">
        <th class="my-themes" mat-header-cell *matHeaderCellDef mat-sort-header> Package </th>
        <td mat-cell *matCellDef="let row"> {{row.package | currency: 'Rs '}} Lac</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th class="my-themes" mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data" colspan="11">No data matching the filter "{{input.value}}"</td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

<!-- Footer -->
<footer class="bg-light text-center text-white" style="margin-top: 30px;">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a href="https://facebook.com/"> <img src="./../assets/images/facebook.png" alt="" width="30px" height="30px" style="margin-right: 15px;"></a>

      <!-- Twitter -->
      <a href="https://twitter.com/"><img src="./../assets/images/twitter.png" alt="" width="30px" height="30px" style="margin-right: 15px;"></a>
    
      <!-- Google -->
      <a href="https://google.com/"><img src="./../assets/images/google.png" alt="" width="25px" height="25px" style="margin-right: 15px;"></a>
      
      <!-- Instagram -->
      <a href="https://instagram.com/"><img src="./../assets/images/insta.png" alt="" width="30px" height="30px" style="margin-right: 15px;"></a>


      <!-- Linkedin -->
      <a href="https://linkedin.com/"> <img src="./../assets/images/linkedin.png" alt="" width="30px" height="30px" style="margin-right: 15px;"></a>

      <!-- Github -->
      <a href="https://github.com/"> <img src="./../assets/images/github.png" alt="" width="30px" height="30px"></a>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 copyright my-themes">
    © 2023 Copyright - CRUD Application - East & West Company
  </div>
  <!-- Copyright -->
</footer>
</div>